@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden; /* لمنع التمرير العشوائي */
  user-select: none;
}

/* تأثير التوهج للأزرار */
.glow-button {
  box-shadow: 0 0 15px rgba(222, 255, 154, 0.2);
}
